[Desktop Entry]
Name=Remarkable
Comment=A free, fully featured markdown editor for Linux.
Categories=GNOME;Utility;
Exec=/opt/Remarkable/run.sh %f
Icon=/opt/Remarkable/data/media/remarkable.png
Terminal=false
Type=Application
