Package: remarkable
Version: 1.95
Architecture: all
Maintainer: Jamie McGowan <jamiemcgowan.dev@gmail.com>
Depends: python3-all, python3-bs4, python3-gi, python3-gtkspellcheck, python3-markdown, python3-setuptools, gir1.2-glib-2.0, gir1.2-gtk-3.0, gir1.2-gtksource-3.0, gir1.2-webkit2-4.1, wkhtmltopdf
Section: python
Priority: extra
Description: A free fully featured markdown editor.
 Remarkable is a free fully featured markdown editor. It has a syntax
 like Github flavoured markdown. With it you can write markdown and view
 the changes as you make them in the live preview window. You can export
 your files to a variety of formats. There are multiple styles available
 along with extensive configuration options so you can set it up exactly
 how you like.
